{% extends 'base.html.twig' %}

{% block title %}Hello ImageValidationResultController!{% endblock %}

{% block body %}
    <div style="text-align: center">
        <p style="font-size: larger"> {{ message }} </p>
        <p> <img src="{{ path }}" alt="1" style="height: 420px"> </p>
    </div>
{% endblock %}
