{% extends 'base.html.twig' %}

{% block title %}Verify your image here!{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Please provide the image url</h1>

        {{ form_start(imageUrl) }}
            {{ form_widget(imageUrl) }}
        {{ form_end(imageUrl) }}
    </div>
{% endblock %}
